<div class="edit_tournament_name_class">
    <%= form_for @tournament, html: { id: 'edit_tournament_name_form', class: 'nopjax' } do |f| %>
        <%= render 'shared/error_messages', object: f.object %>
        <ul>
            <li class="tournament_name_text_field"><%= f.text_field :name, autofocus: true, placeholder: "New Tournament Name" %></li>
            <li data-tournament-id="<%= @tournament.id %>"><%= f.submit "Update Tournament" %></li>
            <li class="cancel_btn" id="edit_tournament_name_cancel_button"><%= button_tag "Cancel", class: "edit_btn" %></li>
        </ul>
    <% end %>
</div>