<div class="create_form">
    <%= form_for @tournament, html: { id: 'tournament-dialog-form', class: 'nopjax' } do |f| %>
        <%= render 'shared/error_messages', object: f.object %>
        <ul>
        	<li><%= f.text_field :name, autofocus: true, placeholder: "Tournament Name" %></li>
            <li><%= f.submit "Create Tournament" %></li>
            <li class="cancel_btn" id="tournament_cancel_btn"><%= button_tag "Cancel", class: "edit_btn" %></li>
        </ul>
    <% end %>
</div>