<%= will_paginate @tournaments %>

<table>
    <thead>
    <tr>
        <th>Tournament Name</th>
        <th># of Players</th>
        <th>Status</th>
        <th>Winner</th>
    </tr>
    </thead>
        <tbody id="tournaments_table">
        <% if @tournaments.any? %>
            <% @tournaments.each do |t| %>
                <tr data-tournament-id="<%= t.id %>">
                    <td><%= link_to t.name, tournament_path(t) %></td>
                    <td><%= t.players.count %></td>
                    <td>
                        <% if @winner %>
                            Completed
                        <% else %>
                            <%= t.active ? "Active" : "Inactive"  %>
                        <% end %>
                    </td>
                    <td>
                        <% if @winner %>
                            <%= link_to "#{@winner.full_name}", player_path(@winner) %>
                        <% end %>
                    </td>
                </tr>
            <% end %>
        <% end %>
        </tbody>
</table>