<div id="tournaments_pagination">
    <%= will_paginate @tournaments %>
</div>

<table>
    <thead>
    <tr>
        <th>Tournament Name</th>
        <th># of Players</th>
        <th>Status</th>
        <th>Winner</th>
    </tr>
    </thead>
        <tbody id="tournaments_table">
        <% if @tournaments.any? %>
            <% @tournaments.each do |t| %>
                <tr data-tournament-id="<%= t.id %>">
                    <td><%= link_to t.name, tournament_path(t) %></td>
                    <td><%= t.players.count %></td>
                    <% temp_id = t.winner_id %>
                    <td>
                        <% if temp_id != 0 %>
                            Completed
                        <% else %>
                            <%= t.active ? "Active" : "Inactive"  %>
                        <% end %>
                    </td>
                    <td>
                        <% p = Player.find(temp_id) %>
                        <% if temp_id != 0 %>
                            <% temp = "#{p.first_name} #{p.last_name}" %>
                            <%= link_to "#{temp}", player_path(p) %>
                        <% end %>
                    </td>
                </tr>
            <% end %>
        <% end %>
        </tbody>
</table>