<% provide(:title, "Tournaments") %>

<body>
	<h2 class="title">Tournaments</h2>
	<div class='btn create_btn'><%= link_to "New Tournament", new_tournament_url %></div>

	<div class="detail">
		<%= pluralize(Tournament.count, 'tournament has', 'tournaments have') %> been created so far.
	</div>
	<div class="divider"></div>

    <%= will_paginate %>

    <%= render 'tournaments_table' %>

    <%= will_paginate %>

</body>

