<h1>Tournament: <%= @tournament.name %></h1>
<h2><%= pluralize(@tournament.player_count, "player") %></h2>

<article>
    <%= link_to "Start Tournament" %><br />
    <%= link_to "Delete Tournament", @tournament, confirm: "Are you sure?", method: :delete %>
</article>

<article>
    <header>
        Players  <div class="add-players"> <%= link_to "Add Players", new_tournament_player_path(@tournament) %></div>
    </header>
</article>

<article>
    <% if @tournament.players.any? %>
        <% @tournament.players.each do |p| %>
            <ul>
                <li><%= link_to "#{p.first_name} #{p.last_name}", edit_tournament_player_path(@tournament, p) %></li>
                <li>Email: <%= p.email %></li>
                <li>Matches won: <%= p.matches_won %></li>
                <li>Skill: <%= p.skill %></li>
                <li><%= link_to "Delete", tournament_player_path(@tournament, p), method: :delete %></li>
                <br />
            </ul>

        <% end %>
    <% end %>
</article>
