<% provide(:title, "#{@tournament.name}") %>
<%= flash[:notice] %>

<h2 class="title"><%= @tournament.name %></h2>

<% if @tournament.winner_id == 0 %>
    <div class="btn start_btn">
        <% if !@tournament.active %>
            <%= link_to "Start Tournament", start_tournament_path(@tournament), class: 'nopjax', confirm: "Once the tournament is started, you cannot add any more players" %>
        <% else %>
            <%= link_to "Resume Tournament",  start_tournament_path(@tournament), class: 'nopjax' %>
        <% end %>
    </div>

<% else %>
    <div class="btn completed_btn"><%= link_to "Tournament Completed" %></div>
<% end %>
<div class="btn delete_btn"><%= link_to "Delete Tournament", @tournament, confirm: "Did you really mean to delete this tournament?", method: :delete %></div>
<ul class="detail">
    <li><%= @tournament.active ? "Active" : "Inactive"  %></li>
    <li><%= pluralize(@tournament.players.count, "player") %></li>
    <li>
        <% temp_id = @tournament.winner_id %>
        <% if temp_id != 0 %>
            <% p = Player.find(temp_id) %>
                Winner: <%= p.first_name %> <%= p.last_name %>
        <% end %>
    </li>
</ul>
<div class="divider"></div>



    <h3 class="subtitle">Players</h3>
    <div class="btn"> <%= link_to "Add New Player", new_tournament_player_path(@tournament) %></div>
    <div class="btn"> <%= link_to "Add Existing Players", add_index_path(@tournament), class: 'nopjax' %></div>

    <%= form_tag multiremove_tournament_players_path(@tournament) do %>

    <% if @tournament.players.any? %>
        <%= submit_tag "Remove Checked", class: "submit_btn remove" %>
    <% end %>

    <table>
        <thead>
            <tr>
                <th><input type="checkbox" id="checkall" /></th>
                <th>Name</th>
                <th>Email</th>
                <th>Skill Level</th>
                <th>Matches Won</th>
            </tr>
        </thead>
        <tbody>
            <% if @tournament.players.any? %>
                <% @tournament.players.order("created_at DESC").each do |p| %>
                <tr>
                    <% temp = "#{p.first_name} #{p.last_name}" %>
                    <td><%= check_box_tag "player_ids[]", p.id %></td>
                    <td><%= link_to "#{temp}", tournament_player_path(@tournament, p) %></td>
                    <td><%= p.email %></td>
                    <td><%= p.skill %></td>
                    <td><%= p.matches_won %></td>
                </tr>
                <% end %>
            <% end %>
        </tbody>
    </table>

    <%= hidden_field_tag "tournament_id", @tournament.id %>
    <% end %>