<%= flash[:notice] %>

<%= render 'layouts/breadcrumbs' %>

<div><h2 class="title"><%= @tournament.name %></h2></div>

<% if @tournament.winner_id == 0 %>
    <div class="btn start_btn">
        <% if !@tournament.active %>
            <%= link_to "Start Tournament", start_tournament_path(@tournament), class: 'nopjax', confirm: "WARNING: Once the tournament is started, you cannot add or remove players." %>
        <% else %>
            <%= link_to "Resume Tournament",  start_tournament_path(@tournament), class: 'nopjax' %>
        <% end %>
    </div>

<% else %>
    <div class="btn completed_btn"><%= link_to "Tournament Completed" %></div>
<% end %>
<div class="btn delete_btn"><%= link_to "Delete Tournament", @tournament, confirm: "Did you really mean to delete this tournament?", method: :delete %></div>

<div class="btn edit_btn" id="edit_tournament_name_button" data-tournament-id="<%= @tournament.id %>"><%= link_to "Edit Tournament Name" %></div>

<ul class="detail">
    <li><%= @tournament.active ? "Active" : "Inactive"  %></li>
    <li><%= pluralize(@tournament.players.count, "player") %></li>
    <li>
        <% temp_id = @tournament.winner_id %>
        <% if temp_id != 0 %>
            <% p = Player.find(temp_id) %>
                Winner: <%= p.first_name %> <%= p.last_name %>
        <% end %>
    </li>
</ul>
<div class="divider"></div>



    <h3 class="subtitle">Players</h3>

    <% if !@tournament.active? %>
    <div class="btn" id="add_tournament_player_button" data-tournament-id="<%= params[:id] %>"> <%= link_to "Add New Player", new_tournament_player_path(@tournament) %></div>
    <div class="btn"> <%= link_to "Add Existing Players", add_index_path(@tournament), class: "nopjax" %></div>
    <% end %>

    <%= form_tag multiremove_tournament_players_path(@tournament) do %>

    <% if !@tournament.active? %>
    <% if @tournament.players.any? %>
        <%= submit_tag "Remove Checked", class: "submit_btn remove" %>
    <% end %>
    <% end %>

    <table>
        <thead>
            <tr>
                <th>
                    <% if !@tournament.active? %>
                    <input type="checkbox" id="checkall" />
                    <% end %>
                </th>
                <th>Name</th>
                <th>Email</th>
                <th>Skill Level</th>
                <th>Matches Won</th>
            </tr>
        </thead>
        <tbody>
            <% if @tournament.players.any? %>
                <% @tournament.players.order("created_at DESC").each do |p| %>
                <tr>
                    <% temp = "#{p.first_name} #{p.last_name}" %>
                    <td>
                        <% if !@tournament.active? %>
                        <%= check_box_tag "player_ids[]", p.id %>
                        <% end %>
                    </td>
                    <td><%= link_to "#{temp}", tournament_player_path(@tournament, p) %></td>
                    <td><%= p.email %></td>
                    <td><%= p.skill %></td>
                    <td><%= p.matches_won %></td>
                </tr>
                <% end %>
            <% end %>
        </tbody>
    </table>

    <%= hidden_field_tag "tournament_id", @tournament.id %>
    <% end %>


<%= render 'layouts/new_player' %>

<%= render 'edit_tournament_name' %>
