<% provide(:title, "New Player") %>

<div class="create_form_player">
    <%= form_for @player, html: { id: 'player-dialog-form', class: 'nopjax', title: 'New Player' } do |f| %>
        <%= render 'shared/error_messages', object: f.object %>

        <ul>
            <li><span>First Name</span></li>
            <li><%= f.text_field :first_name, autofocus: true %></li>
            <li><span>Last Name</span></li>
            <li><%= f.text_field :last_name %></li>
            <li><span>Email Address</span></li>
            <li><%= f.email_field :email %></li>
            <li><span>Skill Level</span></li>
            <li><%= f.select :skill, 1..10 %></li>

            <% if @tournament %>
                <%= f.hidden_field :tournament_id, value: @tournament.id %>
            <% end %>

        </ul>
    <% end %>
</div>
