<% provide(:title, "Add Existing Players") %>

<%= render 'layouts/breadcrumbs' %>

<div>
    <h2 class="title">Add Existing Players</h2>
</div>

<div class="detail">
    <h4><%= "#{@tournament.name}"%></h4>
    <p><%= pluralize(@players.count, 'player has', 'players have') %> not been added to this tournament yet.</p>
</div>
<div class="divider"></div>

<%= will_paginate %>

<%= form_tag multiadd_players_path do %>

<%= submit_tag "Add Checked", class: "submit_btn add_existing" %>

<table>
    <thead>
    	<tr>
            <th><input type="checkbox" id="checkall" /></th>
    		<th>Name</th>
    		<th>Email</th>
    		<th>Skill</th>
    		<th>Matches Won</th>
    	</tr>
    </thead>
    <% if Player.any? %>
    <tbody>
    	<% @players.order("created_at DESC").each do |p| %>
        
        <tr>
        	<% temp = "#{p.first_name} #{p.last_name}" %>
            <td><%= check_box_tag "player_ids[]", p.id %></td>
            <td><%= link_to "#{temp}", player_path(p) %></td>
            <td><%= p.email %></td>
            <td><%= p.skill %></td>
            <td><%= p.matches_won %></td>
        </tr>
        
	    <% end %>
    </tbody>
    <% end %>
</table>
<%= hidden_field_tag "tournament_id", @tournament.id %>
<% end %>

<%= will_paginate %>