<% provide(:title, "Edit #{@player.first_name} #{@player.last_name}") %>

<%= form_for(@player) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <ul>
        <li>First name: <%= f.text_field :first_name %></li>
        <li>Second name: <%= f.text_field :last_name %></li>
        <li>Email: <%= f.email_field :email %></li>
        <li>Skill: <%= f.select :skill, 1..10 %></li>
        <br />
        <li><%= f.submit "Save" %></li>
    </ul>
<% end %>