<body>
	<h2 class="title">Players</h2>
	<div class='create_btn'><%= link_to "New Player", new_player_url %></div>

<% if Player.any? %>
	<div class="detail">
		<%= pluralize(Player.count, 'player has', 'players have') %> been created so far.
	</div>
	<div class="divider"></div>
    <table>
        <thead>
        	<tr>
        		<th>Name</th>
        		<th>Email</th>
        		<th>Skill</th>
        		<th>Matches Won</th>
        	</tr>
        </thead>
        <tbody>
        	<% Player.all.each do |p| %>
            <tr>
            	<% temp = "#{p.first_name} #{p.last_name}" %>
                <td><%= link_to "#{temp}", player_path(p) %></td>
                <td><%= p.email %></td>
                <td><%= p.skill %></td>
                <td><%= p.matches_won %></td>
            </tr>
    	    <% end %>
        </tbody>
    </table>
<% else %>
    <div class="detail">No players yet.</div>
<% end %>
</body>