<header>
    Player info
</header>

<br />

<article>
    <ul>
        <li>Name: <%= "#{@player.first_name} #{@player.last_name}" %></li>
        <li>Email: <%= @player.email %></li>
        <li>Skill: <%= @player.skill %></li>
        <li>Matches Won: <%= @player.matches_won %></li>
        <% if @player.tournaments.any? %>
            <li><%= button_to "Tournaments" %><li>

        <% end %>

        <li><%= button_to "Edit Player", edit_player_path(@player) %></li>


        <li><%= button_to "Delete player", @player, method: :delete %></li>
    </ul>
</article>