<div class="create_form">
    <%= form_for @match, remote: true, html: { id: 'match-dialog-form', class: 'nopjax', title: 'New Match' } do |f| %>
        <%= render 'shared/error_messages', object: f.object %>
        <ul>
            <li><%= f.text_field :name, autofocus: true, placeholder: "Match Name (Optional)" %></li>
            <li><%= f.submit "Create Match" %></li>
            <li class="cancel_btn" id="match_cancel_btn"><%= button_tag "Cancel", class: "edit_btn" %></li>
        </ul>
    <% end %>
</div>